{{ $id := delimit (shuffle (seq 1 9)) "" }}

{{ if .Get "language" }}
  <div class="simple-code">
    <label for="{{ .Get "id" | default $id }}">
      {{ if .Get "title" }}<span class="simple-code__title">{{ .Get "title" | markdownify }}</span>{{ end }}
    </label>
    <pre {{ if .Get "language" }}class="language-{{ .Get "language" }}" {{ end }}><code>{{ .Inner | string }}</code></pre>
  </div>
{{ else }}
  {{ errorf "If you want to use the \"simple code\" shortcode, you need to pass a mandatory \"language\" param. The issue occurred in %q (%q)" .Page.File .Page.Permalink }}
{{ end }}

